html,
body {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  /*padding-top: 20px;*/
  background: #171b1e;
  background: #171717;
  /*background: url("../images/bg.gif") repeat;*/
  color: white;
  font-family: Verdana, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


hr {
  border-color: #e86f24;
}

h1 {
    font-family: 'Orbitron', sans-serif;
/*    font-family: 'SFElectrotome', Georgia, "Times New Roman", sarif;*/
    font-size: 42px;
    color: #e86f24;
    /*padding-top:50px;*/
    text-align: center;
}

h2 {
    font-family: 'Play',Verdana, sans-serif;
    color: #24aafd;
    color: #e86f24;
    font-size: 2.5em;
    margin-top: 5%;
    margin-bottom: 3%;
}

h2>a, h2>a:hover {
    color: inherit;
}


.section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section.sec-a {
  background: rgba(0, 0, 0, 0);
}
.section.sec-b {
  background: rgba(0, 0, 0, 0.2);
}

.section .container.full-w {
  padding-left: 40px;
  padding-right: 40px;
}

.section .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.darken {
  background: rgba(13, 17, 20, 0.7);
}

.input-group-addon {
  width: auto;
}

.input-group-addon > .input-group-addon {
  padding: 0;
}

.intro,
.intro .darken {
  height: 100vh;
  width: 100vw;
}

.darken {
  background: rgba(13, 17, 20, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  background-image: url("https://c1.staticflickr.com/9/8658/15809479377_f911255025_k.jpg");
}

h1 {
  padding-top: 80px;
}

.form-control {
  color: #ccc;
  background: rgba(52, 52, 52, 0.77);
  border-color: transparent;
}

.input, .btn, .form-control {
  border-radius: 0;
}

.input-group-addon {
  color: #ccc;
  background: #232323;
  border:none;
}

.form-control:focus ~ .input-group-addon {
  color: #E86F24;
}

#success_message{
  display: none;
}
